            <div class="row">
                <div class="col-md-12">
                    <h2>Images <a class="btn btn-success pull-right" href="/images/add">Add image</a></h2>
                    <hr>
                </div>
                {{#each images}}
                <div class="col-md-4">
                    <img src="/images/uploaded/{{this}}" class="img-responsive img-thumbnail"/>
                </div>
                {{/each}}
                {{#unless error.ok}}
                <div class="col-md-12">
                    <strong>{{error.msg}}</strong>
                </div>
                {{/unless}}
            </div>